.box {
    width: 332px;
    height: 228px;
    background-color:$color-tertiary;
    padding: 2rem 1.5rem;
}

@media(max-width:1400px){
    .box {
        width: 260px;
    }
}

@media(max-width:880px){
    .box {
        width: 240px;
        height: 210px;
    }
}

@media(max-width:530px){
    .box {
        width: 200px;
        height: 270px;
    }
}

@media(max-width:430px){
    .box {
        width: 150px;
        height: 310px;
    }
}